
pypdf
transformers
streamlit
accelerate
langchain
langchain-fireworks
langchain-huggingface
langchain_community
langchain_together
faiss-cpu
huggingface_hub
sentence-transformers
speechrecognition
numpy
gtts
deep-translator
sounddevice
scipy
einops


